# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
docs/medium-com--bschlining-a-simple-java-native-interface-jni-example-in-java-and-scala-68fdafe76f5f.pdf
docs/stackoverflow_com.pdf
docs/www3-ntu-edu-sg-home-ehchua-programming-java-JavaNativeInterface-html.pdf
docs/www-baeldung-com-jni.pdf
docs/www-smartspate-com-how-to-write-your-own-bittorrent-client-by-using-bt-library-.pdf
lib/bt-cli-demo.jar
lib/guava-19.0-javadoc.jar
docs/www-eviltester-com-2017-10-maven-local-dependencies-html.pdf
docs/color_changing_gif_stackexchange.pdf