<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" shutdownHook="disable">
    <!--
        This config file for log4j2 contains all necessary declarations for the different loggers
        used in the program. Some content is by crunchify.com, some is copied from bt-cli-demo (can
        be found in the bt-cli-demo directory under src/target or something). However this log process
        creates two log file under "log", but does not write any data to them. If time is left this
        issues should be looked after and eventually fixed. (try to look up the i-net addresses from
        the "diplomarbeit_quellenverzeichnis.xlsx" file, dated with 30.12.2019 and 31.12.2019, search
        for "asynchronous logger with log4j2")
    -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" filename="log/CrunchifyTest.log"
                     filepattern="${logPath}/%d{YYYYMMddHHmmss}-fargo.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <File name="bt-core" append="false" fileName="log/bt.log">
            <PatternLayout pattern="[%d{dd/MMM/yyyy:HH:mm:ss,SSS}] %-5p %c{1}: %m%n%ex"/>
        </File>

        <File name="bt-dht" append="false" fileName="log/bt-dht.log">
            <PatternLayout pattern="[%d{dd/MMM/yyyy:HH:mm:ss,SSS}] %-5p %c{1}: %m%n%ex"/>
        </File>

        <Async name="A1" bufferSize="1000">
            <appender-ref ref="bt-core"/>
        </Async>

        <Async name="A2" bufferSize="1000">
            <appender-ref ref="bt-dht"/>
        </Async>

    </Appenders>
    <Loggers>
        <logger name="STDOUT" level="trace" additivity="false">
            <appender-ref ref="A1"/>
        </logger>
        <logger name="STDERR" level="trace" additivity="false">
            <appender-ref ref="A1"/>
        </logger>

        <logger name="bt" level="info" additivity="false">
            <appender-ref ref="bt-core"/>
        </logger>
        <logger name="bt.dht" level="debug" additivity="false">
            <appender-ref ref="bt-dht"/>
        </logger>

        <!--    To enable verbose logging change "warn" to "debug" in <root level="debug"> and <configuration status="warn" shutdownHook="disable">   -->
        <root level="warn">
            <appender-ref ref="A1"/>
        </root>
    </Loggers>
</configuration>